.information_podcast_conatiner {
    & > div {
        border: 2px solid lightgray;
        box-shadow: -2px 2px 2px rgb(195, 195, 195);
    }
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-areas: "aside header" "aside main" ". main";
  width: 80%;
  gap: 1rem 8rem;
  margin: 0 auto;
  @media only screen and (max-width: 900px) {
    grid-template-columns: 1fr;
    grid-template-areas: "aside" "header" "main";
    max-width: 100%;
  }
  .content_podcast_card_value {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: start;

    .bold {
      font-weight: bold;
    }
    .img_container {
      img {
        max-width: 100%;
      }
      max-width: 80%;
      margin: 20px auto;
    }
  }
  .container_player_episode {
    display: grid;
    justify-content: center;
    padding: 2em;
    .__player_podcast{
        padding-top: 3em;
        width: 95%;
    }
  }
}