.information_podcast_conatiner {
    & > div {
        border: 2px solid lightgray;
        box-shadow: -2px 2px 2px rgb(195, 195, 195);
    }
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-areas: "aside header" "aside main" ". main";
  width: 80%;
  gap: 1rem 8rem;
  margin: 0 auto;
  @media only screen and (max-width: 900px) {
    grid-template-columns: 1fr;
    grid-template-areas: "aside" "header" "main";
    max-width: 100%;
  }
  .content_podcast_card_value {
    grid-area: aside;
    font-style: italic;

    .trackname_container {
      margin-top: 10%;
      padding-top: 5%;
      padding-bottom: 5%;
      border-top: 1px solid lightgray;
      border-bottom: 1px solid lightgray;
      width: 90%;
      
    }
    .description_container {
      padding-top: 5%;
      padding-bottom: 5%;
      width: 90%;
    }
    .bold {
      font-weight: bold;
    }
    .img_container {
      img {
        max-width: 100%;
      }
      max-width: 80%;
      margin: 20px auto;
    }
  }
  .count_episodes_container {
    grid-area: header;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    span {
      font-weight: bold;
      font-size: 20px;
      padding: 0.5rem;
    }
  }
  .table-container {
    grid-area: main;
    padding: 1rem;
    table {
      width: 100%;
      border-spacing: 0;
      border-collapse: collapse;
      overflow: hidden;
      tr {
        :last-child {
          td {
            border-bottom: 0;
          }
        }
      }
      th,
      td {
        a {
            color: #3366BB;
        }
        padding: 0.5rem;
        border-bottom: 1px solid lightgray;
        background-color: rgba(255, 255, 255, 0.2);
        :last-child {
          border-right: 0;
        }
      }
      th {
        text-align: left;
      }
      thread tr th {
        width: 100%;
      }
      tbody td {
        position: relative;
      }
    }
    box-shadow: -2px 2px 2px 2px rgb(195, 195, 195);
  }
}
//animations
.information_podcast_conatiner > div {
    img {
        transition-delay: 0.2s;
        transition-duration: 0s;
    }
     transition-duration: 0.2s;
     filter: blur(0px);
     opacity: 1;
}
.--loading .information_podcast_conatiner > div {
    filter: blur(10px);
    opacity: 0.2;
    img {
        opacity: 0;
    }
}