.App {
  a:link, a:visited, a:active {
      text-decoration:none;
      color: #000;
  }
  .header__container {
    margin: 2rem auto;
    width: 80%;
    border-bottom: 2px solid gray;
    position: relative;

    h1 {
      color: rgb(0, 157, 255);
      margin: 0;
    }
    .spinner {
      position: absolute;
      top: 0;
      right: 0;
      border: 4px solid rgb(0, 157, 255);
      border-left-color: transparent;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      animation: spin 1s linear infinite;
  
      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
      
        100% {
          transform: rotate(360deg);
        }
      }
    }

  }
  
  .header__searcher__container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 11%;

    input.SearchPodcasts {
      height: 30px;
      margin-left: 1%;
    }
    span.SearchChip {
      border-radius: 10px;
      padding-top: 3px;
      background-color: rgb(0, 157, 255);
      text-align: center;
      color: white;
      font-size: 20px;
      font-weight: bold;
      width: 50px;
      height: 30px;
    }
  }
    
  

  .Podcasts__container{
      display: grid;
      grid-gap: 40px 20px;
      align-content: center;
      grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
      grid-auto-columns: minmax();
      margin: 0 10% 0 10%;
      box-shadow: 5px rgb(195, 195, 195);;

    .content-podcast {
      display: flex;
      align-items: center;
      flex-direction: column;
      border: 2px solid;
      border-color: rgb(195, 195, 195);
      border-radius: 5px;
      margin-top: 20%;
      font-size: 12px;
      text-align:center;
      box-shadow: -2px 2px 2px rgb(195, 195, 195);
      height: 90%;

      img {
        position: abs($number: 0);
        border-radius: 100px;
        margin-top: -30px;
        max-width: 50%;
        height: auto;

      }
      h2 {
        color: black;
        font-size: 14px;
      }
    }
  }
}